#real_time, #real_date {
  font-family: monospace, sans-serif, serif, fantasy;
}

#top-btn {
  position:fixed;
  z-index:1;
  top: 90%;
  right: 12%;
}

#reload-btn {
  position:fixed;
  z-index:1;
  top: 90%;
  right: 2%;
}